<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Vote By Mail Blockchain</h1>
                    <h3>Attest Proof of Concept
                    </h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a (click)="login()" class="btn btn-default btn-lg"> <i
                                    class="fa fa-lock fa-fw"></i> <span class="network-name">Attest</span> Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>